<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head.ejs')%>

    <body>
        <%- include('./partials/navbar.ejs')%>

            <h2 class="h2 recommends">AI Recommends</h2>
            <% if (jobs.length> 0) {%>
                <% jobs.forEach(job=> { %>
                    <div class="card recommends-card-style">
                        <h5 class="recommends-job-title">
                            <a href="/<%= job.link %>" class="recommends-link">
                                <%= job.name %>
                            </a>
                        </h5>
                        <div class="card-body">
                            <h5 class="card-title recommends-description">
                                <%= job.description %>
                            </h5>
                            <img class="jobs-img" src="<%= job.image %> ">
                        </div>
                    </div>

                    <% }) %>
                        <% } else { %>
                            <p>Find another job</p>
                            <% } %>

                                <%- include('./partials/footer.ejs')%>

    </body>

</html>