<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head.ejs')%>

    <body>
        <%- include('./partials/navbar.ejs')%>

            <h2 class="h2 index">AI Recommends</h2>
            <% if (jobs.length> 0) {%>
                <% jobs.forEach(job=> { %>
                    <h2 class="h1 index">
                        <%= job.name %>
                    </h2>
                    <p class="dummy-text" style="text-align: center;">
                        <%= job.description %>
                    </p>
                    <a href="<%= job.link %>">Click here to find out more!</a>

                    <% }) %>
                        <% } else { %>
                            <p>Find another job</p>
                            <% } %>

                                <%- include('./partials/footer.ejs')%>

    </body>

</html>